
<div class="bootam_block2">
<div class="bootam_right">
  <div class="sidebar_bg">
<div class="sidebar_btn">
 <h2>How We Do Things</h2>
<%= link_to 'Services', :action => 'index' %><br />
<%= link_to 'Process', :action => 'index' %><br />

<br /><br />
</div>
</div>
</div>
</div>



<div id="services">
  <% @services.each do |service| %>
  <div class="service">
 <%= link_to  (image_tag service.services_photo.url), :action => 'show' , :id => service.id %>
    <div class="service_info">
   <h2><%=h service.name %></h2><br />
      <p><%=h service.description %></p>
    </div>
  </div>
<% end %>
</div>






 <% if current_admin %>
 <p>
  Admin Actions:
  <%= link_to 'New', new_service_path(@service) %> |

</p>
<% end %>

<br />

