
<div class="bootam_block2">
<div class="bootam_right">
  <div class="sidebar_bg">
<div class="sidebar_btn">
 <h2>CATAGORY</h2>
<%= link_to 'All', :action => 'index' %><br />
<%= link_to 'Design', :action => 'catagory', :id => 1 %><br />
<%= link_to 'Misc', :action => 'catagory', :id => 2 %><br />
<%= link_to 'News & Announcements', :action => 'catagory', :id => 3 %><br />
<%= link_to 'Video', :action => 'catagory', :id => 4 %><br />
</div>
  </div>
</div>
</div>
