<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%= @title %></title>
<%= stylesheet_link_tag 'main' %>
</head>

<body>
  
      <div id="topwarp">
	<div class="logo">
	</div>
      </div>
      <div id="headermain_aboutus">
      <div class="navigationmain">
	<div class="navigation_bg">
	<div class="navigation_btn">
		<%= link_to 'Home', :controller => 'home' , :action => 'index' %>
		<%= link_to 'People', :controller => 'people' , :action => 'index' %>
		<%= link_to 'Work', :controller => 'works' , :action => 'index' %>
		<%= link_to 'Services', :controller => 'services' , :action => 'index' %>
		<%= link_to 'Blog', :controller => 'blogs' , :action => 'index' %>
     		<%= link_to 'Video', :controller => 'video' , :action => 'index'%>
		<%= link_to 'About Us', :controller => 'abouts', :action => 'index' %>
                <%#= link_to 'Culture', :controller => 'cultures', :action => 'index' %>
   	  </div>
	 <div class="navigation_quickmenu">
	 </div>
	</div>
	</div>
        <div class="header_aboutus"></div>
	</div>
	<div id="middlemainwarp">
	<div class="middlemainbg">
	  <div class="middle_topblock_about">
		 <%= yield -%>
	</div>
	  </div>
        </div>
	  <div class="footar">
	   <div class="footar_contant">
	    <font>@2007 Designmavericks.All Right Reseverd.Designmavericks is a subsidiary of saramatics,inc.</font>
	   </div>
	  <div>
	  </div>
	  </div>
  
</body>
</html>
